body {
    background-image:url('Images/pexels-andrea-piacquadio.jpg') ;
    background-position:center center;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size:cover;
}
header{
	position: fixed;
   left: 0;
   top: 0;
   width: 100%;
}
.list{
	margin-top: 20px;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	font-size: 18px;
	color: white;
	padding:5px;
	text-shadow: 1px 1px 1px white;
}

.profileimage{
	height:100px;
	width:100px;
	background-color:white;
	background-image: url('Images/Profile.png');
}
#loginIn{
	height:400px;
	width:400px;
}
#footer1{
	margin-top:30px;
	margin-left:10px;
	color:white;
}
#footer2{
	color:white;
}
footer{
	position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
	padding: 3px;
  color: white
}
